.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  display: inline-block;
  float: left;
  text-align:left;
  margin-left: 20px;
  margin-top:30px;
  line-height: 1.5rem;
}

.tree-view li,.App-intro>.tree-view>.node{
	position: relative;
	list-style-type: none;
}

.App-intro>.tree-view>.node>.arrowImg:after ,.clildNodes>.tree-view>.node>.arrowImg:after {
	content: '';
	position: absolute;
	width:0;
	height:0;
	border-top: 7px solid black;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	left:-16px;
	margin-top:6px;
}
.App-intro>.tree-view.collapsed>.node>.arrowImg:after ,.clildNodes>.tree-view.collapsed>.node>.arrowImg:after{
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid black;
	left:-13px;
}

.tree-view .nodeItem:after{
	content: '';
	position: absolute;
	width:4px;
	height:4px;
	background: gray;
	border-radius: 1px;
	left:-13px;
	margin-top:-16px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
